body {
	background: #1d2836;
	color: white;
}

hr {
	background: white;
}

.audio-element {
	margin-bottom: .5em;
}

.audio-element .btn {
	margin-right: .5em;
}

#timer {
	float: right;
	font-size: 1.6em;
}

.recorder-container {
	padding: 1em;
	border: 1px solid white;
	border-radius: .5em;
	margin-left: 1em;
	margin-right: 1em;
}

/* FIX BOOTSTRAP */

.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(255, 255, 255, 0.1);
}